p {
    color: navy;
}

h4 {
    color: darkred;
}

.red-box {
    background-color: red;
}

.blue-box {
    background-color: blue;
}

p.yellow-box {
    background-color: yellow;
}

.red-group {
    background: red;
    width: 200px;
    height: 200px;
}

.blue-group {
    background: blue;
    width: 200px;
    height: 200px;
}