div {
    background-color: #00D1AE;
    width: 170px;
    border: 1px solid #17212e;
    /* Parameters of border:
        border-width: 1px;
        border-style: solid;
        border-color: #17212e; 
    */
}